/* bodyの設定 */
body {
  margin: 0;
  padding: 0;
  background-color: lightblue; /* 背景色設定 */
  font-family: 'Avenir','ヒラギノ角ゴシック';  /* 全体のフォント設定 */
}

/* [7/9 updated]特定タグのコンテンツ幅を一括設定 */
.container h1,h2,h3,h4,h5,h6,p{
  width:1000px;
}

/* リンクテキストの設定 */
a {
  color: #020d99; /* デフォルトのリンクの色指定 */
}

a:visited {
  color: #5e5c5c; /* 訪問済みのリンクの色指定 */
}

a:hover {
  color: #AA0000;　/* カーソルに載った状態のリンクの色指定 */
}

/* ヘディング（h1）の設定 */
h1 {
  font-weight: 900; /* フォントの太さ設定 */
  font-family: 'Markazi Text',"Nico Moji",serif;
/*  width:1000px; /* コンテンツ幅を1000pxに設定 QUESTION: Autoが動作しないのはなぜ？ -> Autoは親要素を引き継ぐため */
}

/* サブヘディング(h2〜h6)の設定 */
h2,h3,h4,h5,h6 {
  font-weight: 600; /* フォントの太さ設定 */
  font-family: 'Markazi Text',"Rounded Mplus 1c",serif;
/*  width:1000px; /* コンテンツ幅を1000pxに設定 */
}

/* pの設定 */
p {
/*  width:1000px; /* コンテンツ幅を1000pxに設定 */
}

/* tableの設定 */
table {
  width:750px; /* コンテンツ幅を750pxに設定 QUESTION: Autoが動作しないのはなぜ？ -> Autoは親要素を引き継ぐため */
}

/* 中央に配置するボックスモデルの設定 */
.box-model-center {
  margin: 0px 400px 0px 400px; /* 上、右、下、左 */
  padding: 0px 0px 0px 0px;/* 上、右、下、左 */
}

/* 中央に配置するボックスモデルの設定（ヘッダー） */
.box-model-center-header {
  width: 300px; /* [7/9 updated]画像サイズに合わせて領域を設定 */
  height: 300px; /* [7/9 updated]画像サイズに合わせて領域を設定 */
  margin: 0px 400px 0px 650px; /* 上、右、下、左 */
  padding: 0px 0px 0px 0px;/* 上、右、下、左 */
  border: 10px solid red; /* QUESTION: 画像の枠がうまくつけられない */
}
